# Dependencies
node_modules*

# Misc
.DS_Store
.env*
npm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json

# Project specific
apps/backend/analyses-storage*
apps/backend/config*
apps/backend/dist*
apps/backend/tsconfig*
apps/frontend/dist*
